boto3==1.24.89
flatbuffers==2.0
inference==0.1
matplotlib==3.5.3
numpy==1.21.6
onnx==1.12.0
onnxruntime==1.12.1
Pillow==9.4.0
pyzmq==25.0.2
scikit_learn==1.2.2
scipy==1.7.3
setuptools==59.5.0
Shapely==1.8.4
torch==1.12.0
torchmetrics==0.11.3
torchvision==0.13.0
train==0.0.5
