boto3==1.24.91
filterpy==1.4.5
flatbuffers==2.0
inference==0.1
lap==0.4.0
matplotlib==3.6.1
numpy==1.23.3
onnx==1.12.0
onnx_tf==1.10.0
onnxruntime==1.12.1
Pillow==9.2.0
pycocotools==2.0.4
pyzmq==24.0.1
scikit_image==0.19.3
scipy==1.9.1
setuptools==65.5.0
Shapely==1.8.5
skimage==0.0
torch==1.12.0
torchvision==0.13.0
transforms==0.1
